* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
    background-color: #fff;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
}

.logo {
    height: 100%;
    width: auto;
}

.logo img {
    height: 40px;
    width: auto;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.nav {
    display: flex;
    gap: 25px;
}

    .nav a {
        text-decoration: none;
        color: #333;
        font-weight: 500;
    }

        .nav a.active {
            color: #007bff;
        }

#banner {
    overflow: hidden;
    position: relative;
    border-bottom: 2px solid #000;
    padding-bottom: 30px;
    margin-top: 65px;
}

.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 85vh;
    transition: 0.5s ease-in-out;
}

    .aspect-ratio-169 img {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ccc;
    border: none;
    font-size: 30px;
    cursor: pointer;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    transition: 0.3s;
}

    .btn:hover {
        background-color: slategray;
    }

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.dot-container {
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 5PX 5px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
}

    .dot.active {
        background-color: lightslategray;
        transition: 0.5s;
    }

.events {
    padding: 40px 20px;
    text-align: center;
}

    .events h2 {
        margin-bottom: 25px;
        font-size: 22px;
        font-weight: bold;
    }

.event-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px;
}

.event-card {
    background: #f5f5f5;
    border-radius: 6px;
    width: calc(100% / 3 - 50px);
    padding: 15px;
    margin: 15px;

}

.event-img {
    width: 100%;
}

    .event-img img {
        width: 100%;
        height: 200px;
    }

.event-card h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.event-card p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.event-card button {
    background: #ddd;
    border: none;
    padding: 6px 14px;
    border-radius: 4px;
    cursor: pointer;
}

    .event-card button:hover {
        background: #ccc;
    }

footer {
    text-align: center;
    padding: 15px;
    background: #f1f1f1;
    border-top: 1px solid #ddd;
}

@media (max-width: 768px) {
    header {
        padding: 10px 20px;
    }

    .nav {
        display: none;
        flex-direction: column;
        background: #f9f9f9;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        padding: 10px;
        border: 1px solid #ddd;
    }

        .nav.active {
            display: flex;
        }

    .menu-toggle {
        display: block;
    }

    .event-list {
        flex-direction: column;
        align-items: center;
    }

    .event-card {
        width: calc(100% - 50px);
    }
}
