* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
    background-color: #f9f9f9;
    color: #333;
}
/*header đây*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
}
.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.logo {
    font-weight: bold;
    background: #ccc;
    width: 60px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    display: flex;
    gap: 25px;
}

    .nav a {
        text-decoration: none;
        color: #333;
        font-weight: 500;
    }

        .nav a.active {
            color: #007bff;
        }

/*header*/

.DangNhap {
    margin: 0 auto;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-box {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 30px 40px;
    width: 360px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

    .tabs button {
        flex: 1;
        padding: 10px;
        border: none;
        background: #eee;
        cursor: pointer;
        font-weight: 600;
    }

        .tabs button.active {
            background: #007bff;
            color: #fff;
        }

.form {
    display: flex;
    flex-direction: column;
}

.input {
    margin-bottom: 12px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    padding: 10px;
    border: none;
    background: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

    .btn:hover {
        background: #005ecb;
    }
.auth-box h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.auth-box a {
    margin: 0 10px 10px;
    font-size: 14px
}

.btn + .btn {
    margin-top: 10px;
    background-color: #6c757d;
}

    .btn + .btn:hover {
        background-color: #5a6268;
    }
footer {
    text-align: center;
    padding: 15px;
    background: #f1f1f1;
    border-top: 1px solid #ddd;
}

@media (max-width: 480px) {
    header {
        padding: 10px 20px;
    }
    .nav {
        display: none;
        flex-direction: column;
        background: #f9f9f9;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        padding: 10px;
        border: 1px solid #ddd;
    }

        .nav.active {
            display: flex;
        }

    .menu-toggle {
        display: block;
    }
    .auth-box {
        width: 90%;
        padding: 25px;
    }
}
